@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html,
body {
  height: 100vh;
  background: #303030;
}

.info {
  width: 100vw;
  position: fixed;
  bottom: 10px;
  text-align: center;
  font-size: 30px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
}

.screenContainer {
  display: flex;
  justify-content: center;
}

.playerIcon {
			display: inline-block;
			width: 100px;
			height: 100px;
		}

    #pink{background-color: #E91E63}
    #purple{background-color: #9C27B0}
    #deeppurple{background-color: #673AB7}
    #indigo{background-color: #3F51B5}
    #blue{background-color: #2196F3}
    #lightblue{background-color: #03A9F4}
    #cyan{background-color: #00BCD4}
    #teal{background-color: #009688}
    #green{background-color: #4CAF50}
    #lightgreen{background-color: #8BC34A}
    #lime{background-color: #CDDC39}
    #yellow{background-color: #FFEB3B}
    #amber{background-color: #FFC107}
    #brown{background-color: #795548}
    #grey{background-color: #9E9E9E}
    #bluegrey{background-color: #607D8B}
    #orange{background-color: #FF5722}

    .pink{color: #E91E63}
    .purple{color: #9C27B0}
    .deeppurple{color: #673AB7}
    .indigo{color: #3F51B5}
    .blue{color: #2196F3}
    .lightblue{color: #03A9F4}
    .cyan{color: #00BCD4}
    .teal{color: #009688}
    .green{color: #4CAF50}
    .lightgreen{color: #8BC34A}
    .lime{color: #CDDC39}
    .yellow{color: #FFEB3B}
    .amber{color: #FFC107}
    .brown{color: #795548}
    .grey{color: #9E9E9E}
    .bluegrey{color: #607D8B}
    .orange{color: #FF5722}



#screen {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  -webkit-box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 1);
  width: 700px;
  height: 700px;
  display: none;
  vertical-align: top;
}
@media only screen and (max-width: 600px) {
  #screen {
    width: 100vw;
    height: 100vw;
  }
}

#score {
  margin: 10px 0 0 20px;
  font-size: 13px;
  vertical-align: top;
  display: none;
  justify-content: center;
  color: #eeeeee;
}
#score tr.header td {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 8px;
}
#score tr.footer td {
  border-top: 1px solid #eeeeee;
  font-size: 11px;
}
#score td {
  padding-top: 5px;
  padding-bottom: 5px;
}
#score .socket-id {
  font-weight: normal;
  color: #eeeeee;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
#score .score-value {
  font-weight: bold;
  color: #eeeeee;
  text-align: right;
}
#score .current-player .socket-id,
#score .current-player .score-value {
  color: #03A9F4;
}

h3.titleGame {
    text-align: center;
    padding-top: 200px;
    font-size: 45px;
    color: #bbb;
}

h3#H3PLayerName {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    color: #888;
}

.colorsdiv {
    text-align: -webkit-center;
}

.nevespt{
    background-color: rgba(0,0,0,0,) !important;
    color: #FD5F00 !important;
}

.nevesptdiv{
    bottom: 10px;
    right: 10px;
    float: right;
    position: absolute;
    color: white;
}